.image-size {
    width: 400px;
    height: 400px;
}
.main-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(133, 203, 133);
    margin-right: 18px;
}

h3 {
    font-size: 15px;
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color: black;
}

h2 {
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color:rgb(35, 2, 2);
    font-size: 30px;
}

h1 {
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color: rgb(153, 255, 0);
    font-size: 50px;
    background-color:black;
}
header {
   margin-top: 20px;
   
    
}
.main-header {
    color: black;
}