.card--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;  
    background-color:salmon;
    margin-left: 2px;
  }

.image-size {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

h1{
  text-align: center;
  justify-content: center;
  background-color:tomato;
}

h2 {
  text-align: center;
  justify-content: center;
  background-color: tomato;
}
