.card--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;  
    background-color:salmon;
  }

.image-size {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

h1{
  text-align: center;
  justify-content: center;
  background-color:tomato;
}

h2 {
  text-align: center;
  justify-content: center;
  background-color: tomato;
}
/* .main-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(133, 203, 133);
    margin-right: 18px;
} */


/* h3 {
    font-size: 15px;
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color: black;
}

h2 {
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color:rgb(35, 2, 2);
    font-size: 30px;
}

h1 {
    font-family: sans-serif;
    justify-content:center;
    text-align: center;
    color: rgb(153, 255, 0);
    font-size: 50px;
    background-color:black;
} */
/* header {
   margin-top: 20px;
    
}
.main-header {
    color: black;
} */